// For styles that aren’t defined as SCSS variables, you may want to modify specific CSS classes.
// You may want to add completely custom CSS specific to your content.
// This will allow for all overrides to be kept in a single file, and for any upstream changes to still be applied.

// base style:
// https://github.com/just-the-docs/just-the-docs/blob/24372f02a9867af92d0a9a9e2d3418485bd4e1c8/_sass/base.scss

h1,
h2,
h3,
h4,
h5,
h6,
#toctitle {
  margin-top: 0;
  margin-bottom: 1em;
  font-weight: 500;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}
