// For styles that aren’t defined as SCSS variables, you may want to modify specific CSS classes.
// You may want to add completely custom CSS specific to your content.
// This will allow for all overrides to be kept in a single file, and for any upstream changes to still be applied.

// base style:
// https://github.com/just-the-docs/just-the-docs/blob/24372f02a9867af92d0a9a9e2d3418485bd4e1c8/_sass/base.scss

h1,
h2,
h3,
h4,
h5,
h6,
#toctitle {
  margin-top: 15px;
  margin-bottom: 10px;
  padding-bottom: 5px;
  font-weight: 700;
  font-family: $header-font-family;
  border-bottom: $header-line;
}

// Images

// Specify width %:
// <img class="centered" width="10%;" src="/assets/images/qr-primal-verity.png" />
// 2023.06.15 removed margin: auto; replaced to give space top and bottom
.centered {
  	border-radius: $border-radius;
  	border: $header-line;
  	margin-left: auto;
  	margin-right: auto;
  	margin-top: 20px;
  	margin-bottom: 20px;
  	display: block;
}

// Code block

// $border-color: $grey-dk-200 !default; // dark theme border
// light theme does not have it. Default variables: $border-color: $grey-lt-100 !default;

// background-color: $code-background-color;
pre {
  @include fs-3;
  padding: 4px 12px;
  line-height: $code-line-height;
  border: $border $border-color;
}

code {
  @include fs-3;
  border: none;
}

/* code blocks are inside preformatted highlight */
/* border-radius: $border-radius; */
div.highlighter-rouge {
  border-radius: 10px;
}

:not(figure) {
  & > code, pre {
    padding: 0.2em 0.15em;
    font-weight: 400;
    background-color: $code-background-color;
    border-radius: $border-radius;
  }
}
// removed border from inline code border: $border $border-color;

// Paragraphs

body {
  @include fs-4;
}
h1,
.text-alpha {
  @include fs-6;
  font-weight: 500;
}
h2,
.text-beta,
#toctitle {
  @include fs-5;
  font-weight: 500;
}

// Top of page navigation, increase size
.breadcrumb-nav-list-item {
  @include fs-3;
}

// Bold
strong {
  font-weight: 550;
}

// Small test (Page last modified, footer)
.text-small {
  @include fs-4;
}

/* nocomment https://github.com/fiatjaf/nocomment */
/* put script inside <span class="nocomment"> */
/* background: outer background = body background */
/* text-background: comment box background = code block background */
/* text-color: $base-font-color; = comment time and comment text */
/* text-color-dark = "from <nostr username>" */
/* primary-color: button background and border */
/* primary-contrast: 'Get Key' button text color */
.nocomment {
  --nc-background: $base-background;
  --nc-container-font-family: $base-font-family;
  --nc-container-font-size: $base-font-size;
  --nc-comment-author-font-size: $base-font-size;
  --nc-comment-author-font-family: $serif;
  --nc-comment-author-font-color: rgb(80,80,247);
  --nc-comment-date-color: $base-font-color;
  --nc-comment-date-font-family: $sans-serif;
  --nc-comment-date-font-size: $base-font-size - 1px;
  --nc-link-text-decor: none;
  --nc-link-text-decor-hover: none;
  --nc-textarea-font-family: $base-font-family;
  --nc-textarea-font-size: $base-font-size;
  --nc-text-background: $code-block-background;
  --nc-text-color: $base-font-color;
  --nc-text-color-dark: rgb(80,80,247);
  --nc-primary-color: rgb(80,80,247);
  --nc-primary-contrast: rgb(255,255,255);
}
