// For styles that aren’t defined as SCSS variables, you may want to modify specific CSS classes.
// You may want to add completely custom CSS specific to your content.
// This will allow for all overrides to be kept in a single file, and for any upstream changes to still be applied.

// base style:
// https://github.com/just-the-docs/just-the-docs/blob/24372f02a9867af92d0a9a9e2d3418485bd4e1c8/_sass/base.scss

// IMAGE

// Specify width %:
// <img class="centered" width="10%;" src="/assets/images/qr-primal-verity.png" />
// 2023.06.15 removed margin: auto; replaced to give space top and bottom
.centered {
  border-radius: $border-radius;
  border: $header-line;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

// CODE

// $border-color: $grey-dk-200 !default; // dark theme border
// light theme does not have it. Default variables: $border-color: $grey-lt-100 !default;

// background-color: $code-background-color;
pre {
  @include fs-3;
  padding: 4px 12px;
  line-height: $code-line-height;
  border: none;
}

code {
  @include fs-3;
  border: none;
}

/* inline code is affected, not code blocks */
code.highlighter-rouge {
  border-radius: $border-radius;
  border: none;
}

// code blocks (">" direct child selector)
// descendants: https://www.w3schools.com/css/css_combinators.asp
div.highlighter-rouge > div.highlight {
  $border-color: rgb(200,200,200);
  border-radius: $border-radius;
  border: $border $border-color;
}

// PARAGRAPH

body {
  @include fs-4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  padding-bottom: 5px;
  border-bottom: $border $border-color;
}
#toctitle {
  font-family: $header-font-family;
  border: none;
}
h1,
.text-alpha {
  @include fs-7;
  font-weight: 500;
}
h2,
.text-beta,
#toctitle {
  @include fs-6;
  font-weight: 500;
}

// Top of page navigation, increase size
.breadcrumb-nav-list-item {
  @include fs-3;
}

// More space for title
//.side-bar {
//  padding-top: 10px; - doesn't work for the bottom
//}
div.site-header > a.site-title {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid red;
}

// Bold
strong {
  font-weight: 550;
}

// Small test (Page last modified)
.text-small {
  @include fs-3;
}
.site-footer {
  @include fs-3;
}

// GISTS
// needs to be at the end to revert absolutely everything above
// td, th, .gist, .blob-code {
td, .gist .blob-code {
  all: revert;
  font-family: $monospace !important;
  font-size: $font-size-4 !important;
  font-weight: 200 !important;
}

// NOCOMMENT 
/* https://github.com/fiatjaf/nocomment */
/* put script inside <span class="nocomment"> */
/* background: outer background = body background */
/* text-background: comment box background = code block background */
/* text-color: $base-font-color; = comment time and comment text */
/* text-color-dark = "from <nostr username>" */
/* primary-color: button background and border */
/* primary-contrast: 'Get Key' button text color */
.nocomment {
  all: revert;
  @include fs-4;
  --nc-background: $body-background-color;
  --nc-container-font-family: $body-font-family;
  --nc-container-font-size: $font-size-4;
  --nc-comment-author-font-size: $font-size-4;
  --nc-comment-author-font-family: $serif;
  --nc-comment-author-font-color: rgb(80,80,247);
  --nc-comment-date-color: $body-text-color;
  --nc-comment-date-font-family: $sans-serif;
  --nc-comment-date-font-size: $font-size-2 !important;
  --nc-link-text-decor: none;
  --nc-link-text-decor-hover: none;
  --nc-textarea-font-family: $body-font-family;
  --nc-textarea-font-size: $font-size-4;
  --nc-text-background: rgb(255,255,255); // comment box text block background
  --nc-text-color: $body-text-color;
  --nc-text-color-dark: rgb(80,80,247);
  --nc-primary-color: rgb(80,80,247);
  --nc-primary-contrast: rgb(255,255,255);
}
