// this file is imported after the theme’s variables and functions are defined, but before any CSS classes are emitted.
// define new SCSS variables or functions.
// Should not be used for defining custom styles (see the next section) 
// or overriding color scheme variables (in this case, you should create a new color scheme).

// All site variables:
// https://github.com/just-the-docs/just-the-docs/blob/24372f02a9867af92d0a9a9e2d3418485bd4e1c8/_sass/support/_variables.scss

// Typography

@import
  url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap'),
  url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700');

@font-face {
  font-family: WorkSans;
  src: url("/assets/Work_Sans/WorkSans-VariableFont_wght.ttf") format('truetype');
  font-style: normal;
}
@font-face {
  font-family: WorkSans;
  src: url("/assets/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf") format('truetype');
  font-style: italic;
}

$serif: 'Cormorant Garamond', 'Times New Roman', 'Times', serif;
$sans-serif: 'WorkSans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$monospace: 'PT Mono', 'Monaco', 'Bitstream Vera Sans Mono', 'Lucida Console', 'Terminal', monospace;

$body-font-family: $sans-serif;
$header-font-family: $serif;
$mono-font-family: $monospace;

$body-line-height: 1.5 !default;
$code-line-height: 1.4 !default;
$content-line-height: 1.5 !default;
$body-heading-line-height: 1.25 !default;

// Font size
// `-sm` suffix is the size at the small (and above) media query

:root {
  font-size: 16px;
}
$font-size-1: 0.7rem !default;
$font-size-1-sm: 0.75rem !default;
$font-size-2: 0.8rem !default; // h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 0.85rem !default; // h5
$font-size-4: 0.9rem !default;
$font-size-5: 1rem !default; // h3
$font-size-6: 1.1rem !default; // h2
$font-size-7: 1.2rem !default;
$font-size-8: 1.3rem !default; // h1

$root-font-size: 10px !default;
/*
$font-size-1: $root-font-size !default;
$font-size-1-sm: $root-font-size + 1px !default;
$font-size-2: $root-font-size + 2px !default; // h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: $root-font-size + 3px !default; // h5
$font-size-4: $root-font-size + 4px !default;
$font-size-5: $root-font-size + 5px !default; // h3
$font-size-6: $root-font-size + 6px !default; // h2
$font-size-7: $root-font-size + 7px !default;
$font-size-8: $root-font-size + 8px !default; // h1
$font-size-9: 2.25rem !default;
$font-size-10: 2.625rem !default;
$font-size-10-sm: 3rem !default;
*/

// Colors

$header-line: $border rgb(200,200,200);

// $code-background-color: $grey-lt-000 !default; // light theme
// $border: 1px solid !default;
// $border-radius: 4px !default;
// $border-color: $grey-lt-000 !default; // #eeebee = rgb(238,235,238) // specified in light.scss
      // $code-background-color: #31343f; = rgb(49,52,63) // specified in dark.scss
