// this file is imported after the theme’s variables and functions are defined, but before any CSS classes are emitted.
// define new SCSS variables or functions.
// Should not be used for defining custom styles (see the next section) 
// or overriding color scheme variables (in this case, you should create a new color scheme).

// All site variables:
// https://github.com/just-the-docs/just-the-docs/blob/24372f02a9867af92d0a9a9e2d3418485bd4e1c8/_sass/support/_variables.scss

// Typography

@import
  url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap'),
  url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700');

@font-face {
  font-family: WorkSans;
  src: url("/assets/Work_Sans/WorkSans-VariableFont_wght.ttf") format('truetype');
  font-style: normal;
}
@font-face {
  font-family: WorkSans;
  src: url("/assets/Work_Sans/WorkSans-Italic-VariableFont_wght.ttf") format('truetype');
  font-style: italic;
}

$serif: 'Cormorant Garamond', 'Times New Roman', 'Times', serif;
$sans-serif: 'WorkSans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$monospace: 'PT Mono', 'Monaco', 'Bitstream Vera Sans Mono', 'Lucida Console', 'Terminal', monospace;

$body-font-family: $sans-serif;
$header-font-family: $serif;
$mono-font-family: $monospace;

$root-font-size: 15px !default;
$body-line-height: 1.6 !default;
$content-line-height: 1.6 !default;
$body-heading-line-height: 1.2 !default;

// Font size
// `-sm` suffix is the size at the small (and above) media query

$font-size-1: 0.5625rem !default;
$font-size-1-sm: 0.625rem !default;
$font-size-2: 0.6875rem !default; // h4 - uppercased!, h6 not uppercased, text-small
$font-size-3: 0.75rem !default; // h5
$font-size-4: 0.875rem !default;
$font-size-5: 1rem !default; // h3
$font-size-6: 1.125rem !default; // h2
$font-size-7: 1.5rem !default;
$font-size-8: $root-font-size + 16px !default; // h1
$font-size-9: 2.25rem !default;
$font-size-10: 2.625rem !default;
$font-size-10-sm: 3rem !default;

// Colors

$header-line: 1px solid rgb(175,175,175);

// base style:
// https://github.com/just-the-docs/just-the-docs/blob/24372f02a9867af92d0a9a9e2d3418485bd4e1c8/_sass/base.scss

h1,
h2,
h3,
h4,
h5,
h6,
#toctitle {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 700;
  font-family: $header-font-family;
  border-bottom: $header-line;
}
